@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --lblue: #1E213A;
    --ash: #6E707A;
    --sans: 'Raleway',  sans-serif;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family: var(--sans);
    padding: 0;
    margin: 0;
    user-select: none;
}

.one-quarter-row {
    background-color: #1E213A;
    color: var(--ash);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.search-option {
    display: flex;
    justify-content: space-between;
}

.fa-compass {
    background-color: var(--ash);
    color: #E7E7EB;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

button.btn{
    background-color: var(--ash);
    border: none;
    border-radius: 5px;
    color: #E7E7EB;
    padding: 5px;
    width: 120px;
    height: 30px;
    font-family: var(--sans);
    font-weight: normal;
    cursor: pointer;
}


/*CONTINUATION*/
.cloud-images{
    margin-top: 20px;
    display: grid;
}

.top-section{
    display: flex;
    justify-content: space-between;
}

.cloud-1{
    margin-left: -4rem;
    opacity: 0.2;
}

.cloud-2 {
    margin-right: -2.5rem;
    opacity: 0.2;
}

.weather-icon {
    margin-top: -50px;
    margin-left: 4rem;
    margin-right: 3rem;
    margin-bottom: 0;
    padding: 0;
}

img {
    width: 100%;
}

.bottom-section{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.cloud-4 {
    margin-top: -2rem;
    margin-left: -4rem;
    opacity: 0.2
}

.cloud-5 {
    margin-top: -1.5rem;
    margin-right: -2.5rem;
    opacity: 0.2
}

.temperature{
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#temp{
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: medium;
    font-size: 100px;
    line-height: 0;
    margin: 40px 0 50px 0;
}

.temperature .temp-unit{
    font-size: 40px;
    color: rgba(219, 219, 219, 0.808) !important;
    font-weight: normal;
    text-shadow: 10px black;
    font-family: 'Gill Sans', 'Gill Sans MT', "Raleway", 'Trebuchet MS', sans-serif;
    margin: 20px 5px;
}

.temp-description{
    line-height: 1;
    text-align: center;
    color: rgba(219, 219, 219, 0.808);
    font-weight: 650;
    letter-spacing: 1.5px;
    font-size: 1.32rem;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.date-time{
    margin-top: 35px;
    text-align: center;
    font-size: 12px;
    color: rgba(219, 219, 219, 0.808);
    word-spacing: 2px;
}

sup{
    vertical-align: top;
    font-weight: bolder;
}

.weather-location{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    color:rgba(219, 219, 219, 0.808);
    font-family: 'Raleway' system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu;
}

span.fa-location-dot {
    margin-top: 15px;
    padding-right: 5px;
    color:rgba(219, 219, 219, 0.808)
}

.two-third-row {
    background-color: #100E1D;
    color: rgba(219, 219, 219, 0.808);
    margin: 0;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.degree-icon {
    display: none;
}

.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
}

.cards .card{
    width: 135px;
    height: auto;
    background-color: #1E213A;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    font-size: 15px;
    font-weight: 600;
}

.card .card-icon {
    width: 60%;
    margin: 0 auto;
}

.card .day-temp{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp-text {
    display: flex;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-evenly;
    padding-bottom: 10px;
    word-spacing: 10px;
    font-weight: bold;
}

.highlight-container{
    padding-top: 10px;
}

.highlight-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.highlights-content{
    background-color: #1E213A;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.highlight-header{
    font-size: 1.4rem;
    font-weight: normal;
}

.number-unit{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 50px 10px;
}

.number-value{
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 0;
    margin: 70px 0;
}

.value-container{
    display: flex;
    justify-content: center;
}

.highlight-icon{
    margin-bottom: 10px;
    word-spacing: 5px;
}

meter::-webkit-meter-optimum-value{
    box-shadow: 0 5px 5px -5px #999 inset;
    background: linear-gradient(90deg, #e10c0c var(--high), #84ff65 var(--moderate), #FFEC65 var(--low));
}

meter {
    width: 200px;
    --low: 30%;
    --moderate: 50%;
    --high: 100%;
}

.humidity-values{
    word-spacing: 70px;
    margin: 0 30px;
}

.humidity-percent{
    text-align: right;
    margin: 0 60px;
    padding: 0;
}

.fa-caret-down{
    background-color:#6E707A;
    border-radius: 50%;
    padding: 5px 7px;
}

footer {
    text-align: center;
    padding-top: 40px;
}

.link{
    font-weight: bold;
    text-decoration: underline;
    color:rgba(219, 219, 219, 0.808)
}

/** NAVBAR/SEARCH **/

.overlay {
    display: none;
    background-color: #1E213A;
    color: var(--ash);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
}

.overlay-content {
    margin: 15px 30px 15px 10px;
    padding: 0;
    width: 100%;
    z-index: 2;
}

.hide{
    display: none;
}


.fa-magnifying-glass{
    position: relative;
    left: 25px;  
    z-index: 999;
    top: 0px;
    color: #616475;
}

.search>.query{
    height: 35px;
    padding-left: 45px;
    background-color: inherit;
    border: 1px solid #E7E7EB;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #616475;
    font-family: var(--sans);
    margin-left: -10px;
    width: 70%;
    margin-right: 5px;
}

.search input:focus{
    outline: none;
    border: 1px solid var(--ash);
}

.submit{
    height: 35px;
    width: 20%;
    background-color: #3C47E9;
    color: #E7E7EB;
    font-family: var(--sans);
    border: none;
    font-weight: bold;
    text-align: center;
}

.close{
    text-decoration: none;
    font-size: 30px;
    color: #E7E7EB;
    padding: 0 20px 20px;
    display: flex;
    justify-content: end;
}

.search ul {
    max-height: 600px;
    overflow-y: auto;
    width: 90%;
    padding: 10px;
    margin: 0px 5px;
    list-style-type: none;
}

.search ul li {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid var(--ash);
    box-shadow: 0 0 10px rgba(146, 128, 128, 0 .2);
    transition: all 0.3s ease;
    margin: 20px auto;
}

.search ul li:hover{
    transform: translateY(10px);
}

.search ul li:active {
    color: #E7E7EB;
}


@media only screen and (min-width: 400px) {
    .weather-icon{
        margin: auto;
    }

    .humidity-percent {
        margin: 0 270px;
    }
    .cards .card {
     width: 180px;
    }
}


@media only screen and (min-width: 600px) {
    .icon{
        margin: auto;
    }

    .humidity-percent{
        margin: 0px 320px 0 370px;
    }

    .cards .card {
        width: 270px;
    }

    
}

@media only screen and (min-width: 1000px) {
    .container{
        display: flex;
        flex-wrap: nowrap;
    }

    .one-quarter-row{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        flex-basis: 30%;
        border: none;
        position: fixed;
    }

    .cloud-images{
        margin-top: 20px;
        display: grid;
    }
    
    .top-section{
        display: flex;
        justify-content: space-between;
    }
    
    .cloud-1{
        margin-left: -3rem;
        opacity: 0.1;
        width: 30%;
    }
    
    .cloud-2 {
        margin-right: -2.5rem;
        opacity: 0.1;
        width: 30%;
    }
    
    .weather-icon {
        margin-top: -50px;
        margin-left: 6rem;
        margin-right: 4rem;
        padding: 0;
    }
    
    img {
        max-width: 180px;
        /* width: 100%; */
    }
    
    .cloud-4 {
        margin-top: -4rem;
        margin-left: -4rem;
        opacity: 0.1;
        width: 40%;
    }
    
    .cloud-5 {
        margin-top: -1.5rem;
        margin-right: -1.5rem;
        opacity: 0.1;
        width: 30%;
    }
    
    .temperature{
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    #temp{
        font-size: 100px;
        margin: 50px 0 10px 0;
    }
    
    .temp-symbol{
        margin: 30px 5px 0;
    }
    
    .date-time{
        margin-top: 50px;
    }
    
    .weather-location{
        margin-top: 50px !important;
    }

    .two-third-row{
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: none;
        flex-basis: 10%;
        margin-left: 324px; 
    }

    .main-content{
        margin: 30px;
    }
    
    .degree-icon{
        display: flex;
        justify-content: right;
        margin: 15px;
        margin-right: 0;
        padding: 0 20px;
    }

    .celsius-container{
        margin-right: 10px;
        background-color: #585676;
        color: #110E3C;
        border-radius: 20px;
        padding: 5px 3px;
        font-weight:100;
        font-family: 'Raleway';
    }

    .fahrenheit-container{
        background-color: #585676;
        color: #110E3C;
        border-radius: 20px;
        padding: 5px 3px;
        font-weight: bold;
        font-family: 'Raleway';
    }

    .degree-icon button{
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 600;
    }

    .degree-icon button.active {
        color: #E7E7EB;
    }
    
    .cards {
        display: flex;
        margin: auto 30px;
    }

    .cards .card {
        width: 120px;   
    }

    .highlight-container{
        margin: auto 30px;
    }

    .content-container.top{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 50px;
    }

    .content-container.bottom{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 50px;   
    }

    .humidity-percent{
        margin: 0;
        padding-right: 110px;
    }

    .humidity-values{
        margin: 0;
    }

    .temp-number{
        margin-top: 80px;
        font-size: 120px;
    }
    
    .temp-description{
        margin-top: 120px;
    }

    .weather-date{
        margin-top: 120px;
    }

    .weather-location{
        margin-top: 30px;
    }
}